ul, li{
    display: inline-block;
    align-content: center;
    text-align: center;
    margin: 10px;
    padding-left: 15px;
}

#navBar{
    height: 30px;
	align-content: center;
	margin-top: 10px;
}

#navBar_L{
    float: left;
	margin: 10px;
	align-content: center;
}

#navBar_R{
    float: right; 
	margin: 10px;
}

.signIn{
    background-color: #3e82f0;
	color: #ffffff;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	border-radius: 2px;
	font-size: 14px;
}

a {
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

.logo{
    height: 92px;
	width: 272px;
}

.main{
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 109px;
}

#search_bar{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 44px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}